bin/
obj/

*.exe.config
*.dll.config
.vscode/
.arch/
lib/
srcweb/
websrc/

node_modules/
*.exe
*.pdb
*.dll.config
*.vshost.exe.*
*.vshost.*
slnx.sqlite 
*.zip
*.txt
*.store
*.Report
*.Err

websrc*/
reffiles/
net*/
*.v12.suo
*.suo
sample/dotnet/
sample/System.Data/
sample/src/
*.csproj.user
*.bak
*.lock.json
*.cs~
*.csproj~
*.userprefs
.DS_Store
