bin/
obj/

*.exe.config
*.dll.config
.arch/
lib/
srcweb/
websrc/

node_modules/
*.exe
*.pdb
*.dll.config
*.vshost.exe.*
*.vshost.*
slnx.sqlite 
*.zip
*.txt
*.store
*.Report
*.Err

websrc*/
reffiles/
net*/
*.v12.suo
*.suo
